@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Verdana;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.rooms {

  background-image: url('https://img.freepik.com/free-photo/sunset-pool_1203-3192.jpg?t=st=1726171440~exp=1726175040~hmac=f6fddc94b957781db157c27d7150230003e9fe02e8b84172ca370c45c224695c&w=1380');
}

header {
  position: relative;
  height: 80px;
  padding: 10px 00px;
}

header .logo {
  color: rgb(248, 192, 7);
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  background: url('https://img.freepik.com/free-photo/hammocks-with-palm-trees_1203-201.jpg?t=st=1726170596~exp=1726174196~hmac=035e3b9d3aab638abce74b8ab0a58b86ec6a3dbb13326b9e50479f22e2a09d35&w=996') no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.671);
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 18px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  border: none;
  border-radius: 5px;
}

button {
  background: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.about {
  padding: 40px 0;
  text-align: center;
}

.about h2,
.rooms h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.rooms {
  padding: 40px 0;
  text-align: center;
  height: 100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image:
    linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)),
    radial-gradient(90% 100% at calc(50% + var(--x)) calc(0% + var(--y)), rgb(200 200 200), rgb(022 000 045)),
    radial-gradient(100% 100% at calc(80% - var(--x)) calc(0% - var(--y)), rgb(250 255 000), rgb(036 000 000)),
    radial-gradient(150% 210% at calc(100% + var(--x)) calc(0% + var(--y)), rgb(020 175 125), rgb(000 010 255)),
    radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)),
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference, normal;

}

.room {
  background: rgba(250, 249, 249, 0.295);
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
  display: inline-block;
  width: calc(30% - 40px);
  vertical-align: top;
}

.room img {
  width: 100%;
  border-radius: 8px;
}

.room:hover {
  transform: scale(1.05);
}



.footer {
  position: relative;
  width: 100%;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}